<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="locale" content="ja_JP">
    <meta name="url" content="https://yamadagenki.github.io/sideworks-education/">
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title><%= data.settings.title %> | <%= data.settings.site %></title>
    <meta name="description" content='<%= data.settings.description %>'>
    <meta name="keywords" content="<%= data.settings.description %>">
    <%= favicon_tag data.settings.favicon_url %>

    <meta property="og:image" content="https://yamadagenki.github.io/sideworks-education/images/sideworks_og.png">
    <meta property="og:url" content="https://yamadagenki.github.io/sideworks-education/">
    <meta property="og:title" content="Sideworks Education">
    <meta property="og:description" content='本気で"プロ"のエンジニアを目指すためのプログラミングスクール．'>
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@yamadagenki0607">
    <%= stylesheet_link_tag :site %>
    <%= stylesheet_link_tag :top %>
    <%= javascript_include_tag :all %>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                             m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                             })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-102194032-1', 'auto');
    ga('send', 'pageview');
    </script>
  </head>
  <body>
    <%= partial 'layouts/fb_tags' %>
    <%= partial 'layouts/header' %>
    <%= yield %>
    <%= partial 'layouts/footer' %>
  </body>
</html>
