<section style="margin-top:120px;">
  <div class="container">
    <h2 class="mb20">テンプレート</h2>
    <pre><code>
      <%= CGI.escapeHTML('<!DOCTYPE html>
      <html>
        <head>
          <title>ここにタイトル</title>
          <meta charset="utf-8">
          <meta name="description" content="">
          <meta name="author" content="">
        </head>
        <body>
          ここに本文を書いて行きます
        </body>
      </html>') %>
    </code></pre>

  </div>
</section>

<section class="mt40">
  <div class="container">
    <h2 class="mb20">今日習うタグ</h2>
    <div >
      <ol>
        <li><%= link_to "divについて", "basic-web/div.html" %></li>
        <li><%= link_to "h1, h2, h3について", "basic-web/h.html"></li>
        <li><%= link_to "p, brについて", "basic-web/p_br.html"></li>
        <li><%= link_to "a, imgについて", "basic-web/a.html"></li>
        <li><%= link_to "header, footerについて", "basic-web/header_footer.html"></li>
      </ol>
    </div>
</section>
