<section id="hero-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="block wow fadeInUp" data-wow-delay=".3s">
          <section class="cd-intro">
            <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >
              <span>"プロ"のエンジニアになる</span><br>
            </h1>
          </section>
          <h2 class="wow fadeInUp animated" data-wow-delay=".6s" >
            "プロ"のエンジニアから，"プロ"の技を習い，<b>"プロ"</b>を目指すエンジニアリングスクールです．<br/>
            本気で勉強したい人のみご参加ください．
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="posts" class="works" style="margin-top: 0;">
  <div class="container">
    <div class="section-heading">
      <h1 class="title wow fadeInDown animated" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInDown;">レベル別学習紹介</h1>
      <p class="wow fadeInDown animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
        なんとなく使えるけど、良くわかってない。そんなものありませんか？教えていく中で、フリーランス・高給取りプログラマーになりたい<br/>
        「これくらい知ってて欲しい」ということを徒然に記事に書きました。良ければ読んで下さい。
      </p>
    </div>
    <div class="row">
      <% page_articles.each_with_index do |article, i| %>
        <div class="col-sm-4 col-xs-12">
          <% link_to article.url do %>
            <div class="p20 grid-box wow fadeInLeft animated animated" data-wow-duration="500ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInLeft;">
              <h3><%= article.title %></h3>
              <p class="c-normal mt10 mb0"><%= article.data.date.strftime('%Y年%m月%d日') %></p>
              <p class="c-normal mt0 fs12">
                <%= article.data.tags %>
              </p>
              <p class="mt10 mb20"><%= truncate(article.data.try!(:description), length: 40) if article.data.try!(:description) %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
<section id="works" class="works">
  <div class="container">
    <div class="section-heading">
      <h1 class="title wow fadeInDown animated" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInDown;">コース紹介</h1>
      <p class="wow fadeInDown animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
        プロのエンジニアを目指す方を対象に，基礎から応用まで3つのコースを設けています．自分の現状に合わせて勉強をしていけるよう教材を揃えています．
      </p>
    </div>
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="p20 grid-box wow fadeInLeft animated animated" data-wow-duration="500ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInLeft;">
          <h3>Web初級コース</h3>
          <p class="mt10 mb20 h130">大規模開発を想定したHTML・CSS学習から，Webページが表示されるまでの仕組みなど基礎となる部分を勉強します．基礎的なWebサイトが開発できるようになります．</p>
          <p>学習期間：約2ヶ月</p>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="p20 grid-box wow fadeInLeft animated animated" data-wow-duration="500ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInLeft;">
          <h3>Web中級コース</h3>
          <p class="mt10 mb20 h130">
            RubyOnRailsを軸に，インフラ構築や，バックエンド開発，Javascript・Sassを用いたフロントエンド開発まで勉強します．標準的なWebサービスが開発できるようになります．
          </p>
          <p>学習期間：約3~12ヶ月</p>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="p20 grid-box wow fadeInLeft animated animated" data-wow-duration="500ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInLeft;">
          <h3>Web上級コース</h3>
          <p class="mt10 mb20 h130">
            指定された要件を満たす，任意のシステムを，企画から開発・運用まで１人でゼロから作成していきます．実務を通しサービスを開発・運用する上で必要な知識が総合的に得られます．
          </p>
          <p>学習期間：約6~12ヶ月</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="service">
  <div class="container mt40">
    <div class="section-heading">
      <h2 class="title wow fadeInDown" data-wow-delay=".3s">カリキュラム例</h2>
      <p class="wow fadeInDown" data-wow-delay=".5s">
        "プロ"のエンジニアを目指すエンジニアリング教室です．<br/>
        本気で学び，"プロ"になれるカリキュラを準備しています．厳しいですが，やりきれば"プロ"になれます．
      </p>
    </div>
    <div class="row pb50">
      <div class="col-md-4 col-lg-4 col-xs-12 mb40">
        <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
          <div class="media-left">
            <div class="icon">
              <i class="ion-ios-flask-outline"></i>
            </div>
          </div>
          <div class="media-body">
            <h4 class="media-heading">HTML・CSS</h4>
            <p>SEOを意識したHTML構造，大規模なサイトに耐えうるCSSが書けるようになります．</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-xs-12 mb40">
        <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
          <div class="media-left">
            <div class="icon">
              <i class="ion-ios-lightbulb-outline"></i>
            </div>
          </div>
          <div class="media-body">
            <h4 class="media-heading">SQL,NoSQL</h4>
            <p>基本的な構文に加え，データの正規化・チューニングが出来るようになります．</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-xs-12 mb40">
        <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
          <div class="media-left">
            <div class="icon">
              <i class="ion-ios-lightbulb-outline"></i>
            </div>
          </div>
          <div class="media-body">
            <h4 class="media-heading">BasicWebStructure</h4>
            <p>Webサービスの構成やセキュリティを意識した開発ができるようになります．</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-xs-12 mb40">
        <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1200ms">
          <div class="media-left">
            <div class="icon">
              <i class="ion-ios-americanfootball-outline"></i>
            </div>
          </div>
          <div class="media-body">
            <h4 class="media-heading">JavaScript</h4>
            <p>JavaScriptは非常に奥が深いです．JavaScriptに対して苦手意識を無くす事ができます．</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-xs-12 mb40">
        <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1500ms">
          <div class="media-left">
            <div class="icon">
              <i class="ion-ios-keypad-outline"></i>
            </div>
          </div>
          <div class="media-body">
            <h4 class="media-heading">RubyOnRails</h4>
            <p>RubyOnRailsを用いたフルスタックな開発ができるようになります．</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-xs-12 mb40">
        <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1800ms">
          <div class="media-left">
            <div class="icon">
              <i class="ion-ios-barcode-outline"></i>
            </div>
          </div>
          <div class="media-body">
            <h4 class="media-heading">WorkFlow</h4>
            <p>現場ならではのワークフローを意識した開発ができるようになります．</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= partial 'layouts/inquiry' %>
